.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-content {
  background-color: #faf2eb;
  height: 100%;
}

.btn-dark {
  border-radius: 0;
  padding: 0.5rem 2rem;
}

@media (max-width: 768px) {
  .image-wrapper img {
    height: auto;
    max-height: 300px;
    object-fit: contain;
  }
  .hero-content {
    min-height: unset;
    padding: 1.5rem 0.5rem;
  }
}

.hero-title {
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
  font-size: 2rem;
  color: #202022;
}

.hero-description {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 900;
  color: #202022;
  font-size: 1.2rem;
}